/bin/
*.bbl
*.aux
*.log
*.synctex.gz
*.pdf
*.iml
**/.idea
/*.py
**/__pycache__
/src/META-INF/
ClusProject/target/
/.settings/
.metadata
.project
.classpath
ClusProject/resources/unitTests/**/*.fimp
ClusProject/resources/unitTests/**/*.out
ClusProject/resources/unitTests/**/*.xval
ClusProject/resources/unitTests/**/*.model
ClusProject/resources/unitTests/**/*.oob
ClusProject/docs/javadoc/
