/bin/
*.bbl
*.aux
*.log
*.synctex.gz
*.pdf
*.iml
.idea
/*.py
__pycache__
/src/META-INF/
/target/
/.settings/
#.project
.classpath
/resources/unitTests/**/*.fimp
/resources/unitTests/**/*.out
/resources/unitTests/**/*.xval
/resources/unitTests/**/*.model
/resources/unitTests/**/*.oob
/docs/javadoc/